{
  "extends": [
    "next",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": ["simple-import-sort"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "JSX": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "@next/next/no-img-element": 0,
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "react/no-unescaped-entities": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".ts", ".tsx"],
        "map": [["@", "./src"]]
      }
    }
  }
}
