@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --precode: 240 10% 3.9%;
    --other: 217.9 10.6% 64.9%;
    --cardactive: 220 14.3% 95.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 215 13.8% 34.1%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 13.8% 34.1%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 13.8% 34.1%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --precode: 217.2 32.6% 17.5%;
    --other: 220 8.9% 46.1%;
    --cardactive: 216.9 19.1% 26.7%;
  }

  html {
    @apply overflow-hidden scroll-smooth antialiased;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  /* text-gray-900 */
  body {
    @apply font-sans text-base;
    cursor: url(../assets/images/normal.cur), auto;
  }

  h1,
  h2,
  h3 {
    @apply scroll-mt-16 font-semibold slashed-zero tracking-tighter lg:scroll-mt-8;
  }

  h1 {
    @apply mb-4 mt-4 text-2xl md:text-3xl;
    text-wrap: wrap !important;
  }

  h2 {
    @apply mb-3 mt-3  text-lg md:text-2xl;
  }

  h3 {
    @apply mb-2  mt-4 md:text-xl;
  }

  h4 {
    @apply mb-2 mt-2  text-xl font-semibold;
  }

  h5 {
    @apply mb-1 mt-1  text-lg font-semibold;
  }

  h6 {
    @apply mb-1 mt-1  text-base font-semibold;
  }

  a,
  button {
    @apply cursor-pointer;
  }

  a {
    @apply transition-colors duration-300;
  }

  /* button:focus {
    @apply outline-none;
  } */

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  li div {
    @apply inline;
  }

  lite-youtube {
    @apply !max-w-full overflow-hidden rounded-xl;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted-foreground) / .5) hsl(var(--background) / .1);
  }

  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--background) / .5);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground) / .5);
    border-radius: 14px;
    border: 3px solid hsl(var(--background));
  }
}

@layer components {
  .link-card {
    @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300 hover:bg-muted/50;
  }

  .content-wrapper {
    @apply z-[1] w-full px-6 pb-8 pt-4 lg:px-8 lg:pb-16 lg:pt-16;
  }

  .content {
    @apply mx-auto w-full lg:mb-0 lg:max-w-4xl;
  }

  .link {
    @apply text-blue-600 hover:underline hover:underline-offset-4;
  }

  .inline-code {
    @apply inline-block rounded-md bg-gray-100 px-0.5 py-0.5 text-sm not-italic before:content-['`'] after:content-['`'];
  }

  .thumbnail-shadow {
    box-shadow:
      0 0 0 0.5px #e2e8f0,
      0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 3px #f8fafc,
      0 0 0 3.5px #f1f5f9,
      0 10px 15px -3px rgb(59 130 246/5%),
      0 4px 6px -4px rgb(59 130 246/5%);
  }

  .scrollable-area {
    @apply h-full max-h-dynamic-screen min-h-dynamic-screen overflow-y-auto overflow-x-hidden;
  }

  .horizontal-scroll-area {
    @apply block w-fit min-w-full grow;
  }

  .scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer utilities {
  .bg-dots {
    @apply bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px];
  }

  .bg-grid {
    @apply bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
  }
}



/* .img-loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
} */
