::view-transition-new(root),::view-transition-old(root) {
    animation: none;
    mix-blend-mode: normal
}

::view-transition-old(root) {
    z-index: 1
}

::view-transition-new(root) {
    z-index: 9999
}

.dark::view-transition-old(root) {
    z-index: 9999
}

.dark::view-transition-new(root) {
    z-index: 1
}


::view-transition-new(root) {
  animation: turnOff 600ms ease-in-out;
}

::view-transition-old(root) {
  animation: none;
}

.dark::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal
}

.dark::view-transition-old(root) {
  animation: turnOn 600ms ease-in-out;
}

/* @keyframes turnOn {
   0% {
    clip-path: circle(150% at 20px 95%);
  }
  100% {
    clip-path: circle(0px at 20px 95%);
  }
}

@keyframes turnOff {
  0% {
    clip-path: circle(0px at 20px 95%);
  }
  100% {
    clip-path: circle(150% at 20px 95%);
  }
} */

